<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectAlbumList">
		SELECT BOARD_NO, BOARD_TITLE, CREATE_DATE, FILE_PATH || CHANGE_NAME AS TITLEIMG
		FROM BOARD B
		JOIN ATTACHMENT ON(BOARD_NO = REF_BNO)
		WHERE BOARD_TYPE = 3 
		AND B.REF_CNO=?
		AND B.STATUS = 'Y'
		AND FILE_LEVEL = 1
		ORDER BY CREATE_DATE DESC
	</entry>

	<entry key="insertAlbumBoard">
		INSERT INTO BOARD(BOARD_NO, BOARD_TYPE, BOARD_TITLE, BOARD_CONTENT, REF_UNO, REF_CNO )
		VALUES (SEQ_BNO.NEXTVAL, ?, ? ,? ,?,?)
	</entry>


	<entry key="insertAttachmentList">
		INSERT INTO ATTACHMENT(FILE_NO, REF_BNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, FILE_LEVEL)
		VALUES (SEQ_ANO.NEXTVAL, SEQ_BNO.CURRVAL, ?,?,?,?)
	</entry>

	<entry key="selectAttachList">
		SELECT FILE_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH
		FROM ATTACHMENT
		JOIN BOARD B ON (BOARD_NO = REF_BNO)
		WHERE B.REF_CNO = ?
		ORDER BY UPLOAD_DATE DESC
	</entry>
	
	
</properties>