<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectAlbumList">
		SELECT BOARD_NO, BOARD_TITLE, CREATE_DATE, FILE_PATH || CHANGE_NAME AS TITLEIMG
		FROM BOARD B
		JOIN ATTACHMENT ON(BOARD_NO = REF_BNO)
		WHERE BOARD_TYPE = 3 
		AND B.REF_CNO=?
		AND B.STATUS = 'Y'
		AND FILE_LEVEL = 1
		ORDER BY CREATE_DATE DESC
	</entry>

	<entry key="insertAlbumBoard">
		INSERT INTO BOARD(BOARD_NO, BOARD_TYPE, BOARD_TITLE, BOARD_CONTENT, REF_UNO, REF_CNO )
		VALUES (SEQ_BNO.NEXTVAL, ?, ? ,? ,?,?)
	</entry>


	<entry key="insertAttachmentList">
		INSERT INTO ATTACHMENT(FILE_NO, REF_BNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, FILE_LEVEL)
		VALUES (SEQ_ANO.NEXTVAL, SEQ_BNO.CURRVAL, ?,?,?,?)
	</entry>

	<entry key="selectAttachList">
		SELECT FILE_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH
		FROM ATTACHMENT
		JOIN BOARD B ON (BOARD_NO = REF_BNO)
		WHERE B.REF_CNO = ?
		ORDER BY UPLOAD_DATE DESC
	</entry>
	
	<entry key="insertReply">
		INSERT INTO REPLY(REPLY_NO, REPLY_CONTENT, REF_BNO, REPLY_WRITER)
		VALUES (SEQ_RNO.NEXTVAL, ?, ?, ?)
	</entry>
	
	<entry key="selectReplyList">
	     SELECT REPLY_NO,  REPLY_CONTENT, USER_ID, TO_CHAR(CREATE_DATE, 'YY.MM.DD HH:MI:SS') AS CREATE_DATE, FILE_PATH, CHANGE_NAME
        FROM REPLY R
        JOIN MEMBER ON(REPLY_WRITER = USER_NO)
        LEFT JOIN ATTACHMENT ON(REF_UNO = USER_NO)
        WHERE R.REF_BNO = ?
        AND R.STATUS = 'Y' 
        ORDER BY CREATE_DATE DESC
	</entry>
	
	<entry key="selectAlbumInnerList">
	SELECT FILE_NO, CHANGE_NAME, FILE_PATH, FILE_LEVEL
		FROM ATTACHMENT
		WHERE REF_BNO = ?
		ORDER BY FILE_LEVEL
	</entry>
	
	<entry key="selectAlbumBoard">
	  SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, USER_ID, CREATE_DATE, FILE_PATH, CHANGE_NAME
        FROM BOARD B 
        JOIN MEMBER M ON (M.USER_NO = B.REF_UNO)
        LEFT JOIN ATTACHMENT A ON (M.USER_NO = A.REF_UNO)
        WHERE BOARD_NO = ? AND BOARD_TYPE=3
	
	
	</entry>
	
		<entry key="updateBoard">
		UPDATE BOARD
		SET BOARD_TITLE = ?,
		BOARD_CONTENT = ?
		WHERE BOARD_NO = ? 
	</entry>
	
	<entry key="updateAttachment">
		UPDATE ATTACHMENT
		SET ORIGIN_NAME = ?,
			CHANGE_NAME = ?, 
			FILE_PATH   = ?,
			FILE_LEVEL =?
			UPLOAD_DATE = SYSDATE
		WHERE FILE_NO = ?
		
	</entry>
	
	<entry key="reInsertAttachment">
		INSERT INTO ATTACHMENT(FILE_NO, REF_BNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, FILE_LEVEL)
		VALUES(SEQ_ANO.NEXTVAL, ?, ?,?,?,?)	
	</entry>
	
		<entry key="deleteAttachment">
		DELETE FROM ATTACHMENT
		WHERE REF_BNO = ? AND FILE_LEVEL =?
		
	</entry>
	
		<entry key="deleteBoard">
		UPDATE BOARD
		SET STATUS = 'N'
		WHERE BOARD_NO = ? 
		
	</entry>
	
	<entry key="selectLike">
		SELECT REF_BNO, REF_UNO
		FROM LIKESS 
		WHERE REF_BNO= ? AND REF_UNO =?
	</entry>
	
	<entry key="insertLike">
		INSERT INTO LIKESS(REF_BNO, REF_UNO) VALUES(?, ?)
	</entry>
	
	<entry key="deleteLike">
		DELETE FROM LIKESS WHERE REF_BNO= ? AND REF_UNO =?
	</entry>
	
	<entry key="selectLikeCount">
	SELECT COUNT(REF_BNO) AS LIKES
	FROM LIKESS
	JOIN BOARD ON (REF_BNO = BOARD_NO)
	WHERE REF_BNO = ?
	
	</entry>
	
	
	<entry key="selectListCount">
		SELECT COUNT(*) AS COUNT
		FROM BOARD
		WHERE STATUS = 'Y' AND REF_CNO =?
			
	</entry>
	<entry key="selectList">
	SELECT * 	
	FROM(
			SELECT ROWNUM RNUM, A.*
			FROM(
				SELECT
					BOARD_NO,
					BOARD_TYPE,
					BOARD_TITLE,
					USER_ID,
					CREATE_DATE
				FROM  BOARD B 
				JOIN MEMBER ON (REF_UNO = USER_NO)
				WHERE B.STATUS = 'Y' AND REF_CNO = ?
				ORDER BY CREATE_DATE DESC
			) A
		)
	WHERE RNUM BETWEEN ? AND ?
	</entry>
</properties>