@charset "UTF-8";

/* 버튼 css */
.box {
	display: flex;
	background: #ffffff;
	color: #000000;
}

.button_UI {
	float: left;
	display: block;
	border: none;
	background: none;
	color: inherit;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.button_UI :active {
	color: rgb(154, 187, 196);
}

.button_UI:focus {
	outline: none;
}

.button--winona {
	overflow: hidden;
	padding: 0;
	-webkit-transition: border-color 0.3s, background-color 0.3s;
	transition: border-color 0.3s, background-color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--winona::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	color: rgb(154, 187, 196);
	font-weight: 600;
	-webkit-transform: translate3d(0, 25%, 0);
	transform: translate3d(0, 25%, 0);
}

.button--winona::after, .button--winona>span {
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	display: block;
	font-weight: 600;
}

.button--winona:hover {
	border-color: rgb(154, 187, 196);
	background-color: rgba(255, 255, 255, 0.1);
}

.button--winona:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.button--winona:hover>span {
	opacity: 0;
	-webkit-transform: translate3d(0, -25%, 0);
	transform: translate3d(0, -25%, 0);
}
/* 화면 너비 780 이상일 떄 */
@media only screen and (min-width: 780px) {
	.box {
	width: 6.375vw;
	height: 2.125vw;
	border-radius: 4vw;
	font-size:0.9vw;
	}
	
	.button_UI {
	width: 6.375vw;
	height: 2.125vw;
	border-radius: 4vw;
	border: 0.15vw solid;
	}
	
	.button--winona::after, .button--winona>span {
	padding: 0.335vw;
	}
}
/* 화면 너비 780 이하일 떄 */
@media only screen and (max-width: 780px) {
	.box {
	width: 15vw;
	height: 7vw;
	border-radius: 4vw;
	font-size: 2vw;
	}
	
	.button_UI {
	width: 15vw;
	height: 7vw;
	border-radius: 4vw;
	border: 0.5vw solid;
	}
	
	.button--winona::after, .button--winona>span {
	padding: 0.335vw;
	}
}