@charset "UTF-8";

/* 새클래스 만들기 모달창 */
#newClassModal .modal-body {
	display:flex;
	flex-direction:column;
	align-items: center;
}

#newClassModal .modal-body>div{
	margin-bottom: 1vw;
}


.school_search {
    height: 50px;   
    font-size: 1em;    
}

.info {
    display: flex;
    justify-content: space-between;
}

.info_box {
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.info>h2{
	margin: 0 1vw 0 1vw;
	font-size: 2vw;
}

.info_box>input {
	margin: 0 1vw 0 1vw;
	font-size: 1vw;
}

.year, .grade {
    min-height: 50px;
}

.prof_img {
	width: 100%;
    height: 100%;
     min-height: 10vw;
    border: 1px solid black;
	object-fit: cover;
	cursor: pointer;
} 

@media only screen and (min-width: 780px) {
	
	.info>h2{
		min-width: 50px;
	}
	.profile_img_area {
	    height: 100%;           
	    width: 9vw;
	    text-align: center;
	    overflow: hidden;
	}
	
	.prof_img {
	min-width: 9vw;
	} 
}

@media only screen and (max-width: 780px) {
	.profile_img_area {
	    height: 25vw;           
	    text-align: center;
	    overflow: hidden;
	}
	
	.prof_img {
		min-width: 20vw;
	} 
	
	.class_name1 {
		min-width: 15vw;
	}
	
	.class_name2 {
		max-width: 15vw;
	}
}
	

.box_1 {
    display: flex;
}

.box {
	margin: 0 1vw 0 1vw;
}

/* 초대코드로 가입 모달창 */
.codeItem{
	display: inline-block;
    width: 30px;
    height: 37px;
    line-height: 35px;
    margin: 0 6px;
    border: 0;
    border-bottom: 2px solid #333;
    vertical-align: middle;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
}

/* 메인 페이지 */
/* 공통 */        
.contentBox {
    max-width:1500px;
    width: 95%; 
    min-height: 900px;
    overflow: hidden;
    margin: auto;
    padding-top: 2em;
}

.myInfo {
	width: 100%;
	display: flex;
}

.myProfile, .myClass, .today-date, .timeTable, .lunch, .schedule {
	border: 1px solid rgb(224, 224, 224);
	border-radius: 1em;
}

.myProfile-name {
		background-color: #209dce;
		color: #ffffff;
		text-align: center;
		border-radius: 0.5em;
		font-weight: 700;
		line-height: 2em;
}

.myProfile-img>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.myClass-img {
	border-radius: 50%;
	text-align: center; 
	overflow: hidden;
}

.myClass-img>img {
	width: 100%;
	object-fit: cover;
	cursor: pointer;
}

.myClass-btn>span {
	padding: 1em;
	display: flex;
	justify-content: center; 
	font-weight: 700;
}
	
.today-date {
	width: 100%;
	height: 3em;
	margin: 1em 0 1em 0;
	text-align: center;
	line-height: 3em;
}
	
.other-info{
	display: flex;
}

.lunch {
	width: 20%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #fffbf4;
}

/* 화면 너비 780 이상일 떄 */
@media only screen and (min-width: 780px) {
	
	.myInfo {
		height: 16.5vw;
	}
	
	.myProfile {
		width: 20%;
		height: 100%;
		padding: 1vw 0 1vw 0;
		margin-right: 1em;
		float: left;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		overflow: hidden;
		background-color:#f8f9fc;
		font-size:1vw;
	}
	
	.myProfile-name {
    	padding: 0 1vw 0 1vw;    	
    }
	
	.myProfile-img {
		width: 8vw;
		height: 8vw;
		border-radius: 50%;
		overflow: hidden;
		display: flex;
		justify-content: center;
	}
	
	.myClass {
		width: 78.7%;
		height: 100%;
		min-height: 10%;
		padding: 0.5em 1em 1em 1em;
		float: left;
		display: flex;
		overflow: hidden;
		background-color: rgb(214,230,240);
	}
	
	.myClass-list {
		margin: 2em 0 0 0.3em;
	}
	
	.myClass-img {
		width: 9vw;
		height: 100%;
		display: inline-block;
	}
	
	.myClass-img>img {
		height: 9vw;
	}
	
	.myClass-info {
		width: 35%;
		height: 100%;
		margin: 0 auto;
		/* margin: 1em 0 0 1em; */
		font-weight: 700;
		font-size: 0.8vw;
	}
	
	.myClass-text-list{
		width: 50%;
		float: right;
	}
	
	.myClass-text{
	    padding: 1vw 0 1vw 0.5vw;
	}
	
	.myClass-btn {
		width: 8vw;
		height: 8vw;
		margin: auto;
		text-align: center;
		cursor: pointer;
		background-repeat: no-repeat;
		background-size: 80%;background-position:center;background-color:#ffffff;
		border-radius:10em;
	}
	
	.myClass-btn>span {
		font-size: 1vw;
	}
	
	.timeTable {
		width: 40%;
		margin: 0 1em 0 1em;
		padding: 1em;
	}
	
	.table-btn {
		padding-top: 1em;
		margin-left: 35%;
	}
	
	.schedule {
		width: 40%;
		padding: 1em
	}
}

/* 화면 너비 780 이하일 떄 */
@media only screen and (max-width: 780px) {
		html{
            font-size: 2vw;
        }
	
  		.myInfo {
            min-height: 22em;
            justify-content: center;
            flex-direction: column;
        }

        .myProfile {
            width: 100%;
            height: 22em;
            padding: 2em 1em 1em 1em;
            margin: 1em;
			background-color:#f8f9fc;
        }

        .myProfile-name {
        	width:20vw;
            display: inline-block;
            position: relative;
            top: -6em;
            left: 2em;
            font-size:3vw;
        }

        .myProfile-img {
            width: 30vw;
            min-width: 3em;
            height: 30vw;
            min-height: 3em;
            border-radius: 100%;
            overflow: hidden;
            display: inline-block;
            margin-left: 1vw;
        }

        .myProfile>button{
            float: right;
            top: 30vw;
            right: 1vw;
            margin-right:1vw;
        }

        .myClass {
            width: 100%;
            min-height: 10%;
            padding: 1em;
            overflow: hidden;
            background-color: rgb(214,230,240);
        }

		.myClass-list{
			width:100%;
			height: 25vw;
			display:flex;
			margin:0;
		}
		
        .myClass-img {
            width: 35%;
            height: 25vw;
            display:inline-block;
        }

		.myClass-img>img {
			height: 100%;
		}

        .myClass-info{
            width: 90%; 
            height: 100%;
            display: flex;
            padding: 0 0 1em 1em;
            margin:auto;
            font-weight: 700;
            font-size: 2.5vw;
        }
        
        .myClass-text-list{
			width: 60%;
			display:inline-block;
		}
        
        .myClass-text{
		    padding-bottom: 1em;
		    padding-left: 1em;
		}

        .myClass-btn {
            width: 30%;
            height: 80%; 
            margin: 1vw;
            float: left;
            text-align: center;
            cursor: pointer;
			background-repeat: no-repeat;
			background-size: 45%;
			background-position:center;
			background-color:#ffffff;
			border-radius:10em;
        }

        .myClass-btn>img {
            height: 20vw;
            border-radius: 10em;
        }

        .other-info{
            flex-direction: column;
        }

        .timeTable {
            width: 100%;
            margin: 1em 0 1em 0;
            padding: 1em;
        }

        .table-btn {
            padding-top: 1em;
            margin-left: 40%;
        }

        .lunch {
            width: 100%;
        }

        .schedule {
            width: 100%;
            padding: 1em
        }
}