<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertSurvey">
		INSERT INTO SURVEY
			VALUES (SEQ_SNO.NEXTVAL, ?, 0, ?, ?, 'Y', ?)		
	</entry>
	<entry key="selectSurvey">
		SELECT *
		FROM SURVEY
		WHERE FIRST_DATE = ?
		  AND REF_CNO = ?
		  AND TITLE = ?
	</entry>
	<entry key="insertQuestion">
		INSERT INTO QUESTION
			VALUES (SEQ_QNO.NEXTVAL, ?, ?, ?, ?, ?, ?, ?, ?)
	</entry>
	<entry key="selectSurveyList">
		SELECT *
		FROM SURVEY
		WHERE REF_CNO = ?
	</entry>
</properties>