<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertSurvey">
		INSERT INTO SURVEY
			VALUES (SEQ_SNO.NEXTVAL, ?, 0, ?, ?, 'Y', ?)		
	</entry>
	<entry key="selectSurveyToNum">
		SELECT *
		FROM SURVEY
		WHERE SURVEY_NO = ?
		ORDER BY SURVEY_NO DESC
	</entry>
	<entry key="selectSurvey">
		SELECT *
		FROM SURVEY
		WHERE FIRST_DATE = ?
		  AND REF_CNO = ?
		  AND TITLE = ?
		  AND STATUS = 'Y'
		ORDER BY SURVEY_NO DESC
	</entry>
	<entry key="insertQuestion">
		INSERT INTO QUESTION
			VALUES (SEQ_QNO.NEXTVAL, ?, ?, ?, ?, ?, ?, ?, ?)
	</entry>
	<entry key="selectSurveyList">
		SELECT *
		FROM SURVEY
		WHERE REF_CNO = ?
		ORDER BY SURVEY_NO DESC
	</entry>
	<entry key="selectQuestion">
		SELECT *
		FROM QUESTION
		WHERE REF_SNO = ?
	</entry>
	<entry key="insertAnswer">
		INSERT INTO ANSWER
			(REF_QNO, REF_UNO, WRITE_ANS, ITEM_ANS)
			VALUES (?, ?, ?, ?)
	</entry>
	<entry key="selectAnswer">
		SELECT *
		FROM ANSWER
		WHERE REF_QNO = ?
	</entry>
</properties>