<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertSurvey">
		INSERT INTO SURVEY
			VALUES (SEQ_SNO.NEXTVAL, ?, 0, ?, ?, 'Y', ?)		
	</entry>
	<entry key="selectSurveyToNum">
		SELECT *
		FROM SURVEY
		WHERE SURVEY_NO = ?
		ORDER BY SURVEY_NO DESC
	</entry>
	<entry key="selectSurvey">
		SELECT *
		FROM SURVEY
		WHERE FIRST_DATE = ?
		  AND REF_CNO = ?
		  AND TITLE = ?
		  AND STATUS = 'Y'
		ORDER BY SURVEY_NO DESC
	</entry>
	<entry key="updateSurveyStatus">
		UPDATE SURVEY 
		SET	STATUS = 'N'
		WHERE SURVEY_NO = ?
	</entry>
	<entry key="insertQuestion">
		INSERT INTO QUESTION
			VALUES (SEQ_QNO.NEXTVAL, ?, ?, ?, ?, ?, ?, ?, ?)
	</entry>
	<entry key="selectSurveyList">
		SELECT *
		FROM SURVEY
		WHERE REF_CNO = ?
		ORDER BY SURVEY_NO DESC
	</entry>
	<entry key="updateSurveyCount">
		UPDATE SURVEY SET
			SURVEY_COUNT = SURVEY_COUNT+1
        WHERE SURVEY_NO = (SELECT REF_SNO FROM QUESTION WHERE QUES_NO = ?)
	</entry>
	<entry key="selectQuestion">
		SELECT *
		FROM QUESTION
		WHERE REF_SNO = ?
	</entry>
	<entry key="insertAnswer">
		INSERT INTO ANSWER
			(REF_QNO, REF_UNO, WRITE_ANS, ITEM_ANS)
			VALUES (?, ?, ?, ?)
	</entry>
	<entry key="selectAnswer">
		SELECT A.* , USER_NAME, CHILDREN_NAME
		FROM ANSWER A
		JOIN MEMBER ON (A.REF_UNO = USER_NO)
		WHERE REF_QNO = ?
	</entry>
	<entry key="selectIsAnswered">
		SELECT *
		FROM ANSWER
		WHERE REF_QNO = ?
			AND REF_UNO = ?
	</entry>
</properties>