<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertMember">
		INSERT INTO MEMBER(USER_NO ,
							USER_ID,
							USER_PWD,
							USER_NAME,
							PHONE,
							ADDRESS,
							USER_LEVEL)
					VALUES (SEQ_MNO.NEXTVAL,
							?,
							?,
							?,
							?,
							?,
							?
					)
	</entry>
	
	<entry key="insertMemberApi">
		INSERT ALL
		INTO MEMBER(USER_NO, USER_ID, USER_NAME, USER_LEVEL)
		VALUES (SEQ_MNO.NEXTVAL,
		                      ?,
		                      ?,
		                      ?)
		INTO SNS_LOGIN(USER_NO,
		               SNS_ID,
		               SNS_NAME,
		               SNS_TYPE,
		               FILE_PATH)
		VALUES (SEQ_MNO.CURRVAL, 
					        ?, 
					        ?, 
					        ?,
					        ?)
		SELECT * FROM DUAL
	</entry>
	
	<entry key="insertApiAttachment">
		INSERT INTO ATTACHMENT
			(FILE_NO, REF_UNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, UPLOAD_DATE, FILE_LEVEL)
		VALUES
			(SEQ_ANO.NEXTVAL, SEQ_MNO.CURRVAL, ?, ?, ?, SYSDATE, 2)
	</entry>
	
	<entry key="idCheck">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_ID = ?
	</entry>
	
	<entry key="idNlevelCheck">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_ID = ?
		AND USER_LEVEL = ?
	</entry>
	
	<entry key="loginMember">
		SELECT M.*, A.CHANGE_NAME, A.FILE_PATH
		FROM MEMBER M
		LEFT JOIN ATTACHMENT A ON (A.REF_UNO = M.USER_NO)
		WHERE USER_ID = ?
		  AND USER_PWD = ?
		  AND USER_LEVEL = ?
		  AND STATUS = 'Y'
	</entry>
	
	<entry key="snsLoginMember">
		SELECT M.*, A.CHANGE_NAME, A.FILE_PATH
		FROM MEMBER M
		LEFT JOIN ATTACHMENT A ON (A.REF_UNO = M.USER_NO)
		WHERE USER_NO = ? 
		  AND USER_ID = ?
		  AND USER_LEVEL = ?
		  AND STATUS = 'Y'
	</entry>
	
	<entry key="loginMemberInfo">
		SELECT *
		FROM MEMBER
		WHERE USER_NO =?
		  AND STATUS = 'Y'
	</entry>
	
	<entry key="selectUserNo">
		SELECT USER_NO
		FROM MEMBER
		WHERE USER_ID = ?
		  AND USER_LEVEL = ?
		  AND STATUS = 'Y'
	</entry>
	
	<entry key="deleteMember">
	UPDATE MEMBER SET
	STATUS = 'N', 
	MODIFY_DATE = SYSDATE
	WHERE USER_ID = ? 
	  AND USER_PWD = ? 
	
	</entry>
	<entry key="selectSnsType">
		SELECT SNS_TYPE, SNS_ENROLL_DATE
		FROM SNS_LOGIN
		WHERE USER_NO = ?
	</entry>
	<entry key="updateMember">
		UPDATE MEMBER 
		SET USER_ID = ?,
			USER_NAME = ?,
			CHILDREN_NAME = ?,
			PHONE = ?,
			ADDRESS = ?
		WHERE USER_NO = ?
			AND STATUS = 'Y'
	</entry>
	<entry key="selectAttachmentNo">
		SELECT FILE_NO
		FROM ATTACHEMENT
		WHERE CHANGE_NAME = ?
	</entry>
	<entry key="updateAttachment">
		UPDATE ATTACHMENT
		SET ORIGIN_NAME = ?,
		 	CHANGE_NAME = ?,
		 	 FILE_PATH = ?,
		 	 UPLOAD_DATE = SYSDATE
		 WHERE FILE_NO = ?
		 	AND STATUS = 'Y'
	</entry>
	<entry key="deleteAttachment">
	DELETE FROM ATTACHMENT
	WHERE REF_UNO = ?
	</entry>
	<entry key="reInsertAttachment">
		INSERT INTO ATTACHMENT(FILE_NO, REF_UNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, UPLOAD_DATE, FILE_LEVEL)
		VALUES (SEQ_ANO.NEXTVAL, ?, ?, ? ,?, SYSDATE, 1)
	</entry>
	<entry key="updatePassword">
		UPDATE MEMBER
		SET USER_PWD = ?,
			MODIFY_DATE = SYSDATE
		 WHERE USER_NO = ?
		 	AND USER_PWD = ?
	</entry>
<!-- 
	<entry key="selectUserName">
		SELECT USER_NAME
		FROM MEMBER
		WHERE USER_NO = ?
		AND STATUS = 'Y'
		AND NOTICE_CHECK = 'Y'
	</entry> -->
	
	<entry key="updateNoticeCheck">
		UPDATE MEMBER
		SET NOTICE_CHECK = 'Y',
			MODIFY_DATE = SYSDATE
		WHERE USER_NO = ?
	</entry>
	<entry key="selectMemberList">
		SELECT M.*, A.CHANGE_NAME, A.FILE_PATH
		FROM MEMBER M
		LEFT JOIN ATTACHMENT A ON (A.REF_UNO = M.USER_NO)
		LEFT JOIN CLASS_MEMBER C ON (M.USER_NO = C.REF_UNO)
		WHERE C.REF_CNO = ?
	</entry>
	<entry key="selectMember">
		SELECT M.*, A.CHANGE_NAME, A.FILE_PATH
		FROM MEMBER M
		LEFT JOIN ATTACHMENT A ON (A.REF_UNO = M.USER_NO)
		WHERE M.USER_NO = ?
	</entry>
	<entry key="selectMemberNoticeList">
		SELECT *
		FROM (SELECT MN.REF_UNO, MN.REF_CNO, INTERACTION_NO ,MN.REF_BNO,  TO_CHAR(NOTICE_DATE,'YYYY-MM-DD HH24:MI:SS') AS NOTICE_DATE,
			 		NOTICE_TYPE , M1.USER_NAME, M2.USER_NAME AS INTERACTION_NAME, CLASS_NAME, BOARD_TITLE
			  FROM MEMBER_NOTICE MN
				  FULL JOIN MEMBER M1 ON (M1.USER_NO = MN.REF_UNO)
				  FULL JOIN MEMBER M2 ON (M2.USER_NO = MN.INTERACTION_NO)
				  FULL JOIN CLASS C ON (C.CLASS_NO = MN.REF_CNO)
				  FULL JOIN BOARD B ON (B.BOARD_NO = MN.REF_BNO)
			  WHERE MN.REF_UNO = ?
		      ORDER BY NOTICE_DATE DESC)
		WHERE ROWNUM &lt;= 30
	</entry>
</properties>