<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertMember">
		INSERT INTO MEMBER(USER_NO ,
							USER_ID,
							USER_PWD,
							USER_NAME,
							PHONE,
							ADDRESS,
							USER_LEVEL)
					VALUES (SEQ_MNO.NEXTVAL,
							?,
							?,
							?,
							?,
							?,
							?
					)
	</entry>
	
	<entry key="insertMemberApi">
		INSERT ALL
		INTO MEMBER(USER_NO, USER_ID, USER_NAME, USER_LEVEL)
		VALUES (SEQ_MNO.NEXTVAL,
		                      ?,
		                      ?,
		                      ?)
		INTO SNS_LOGIN(USER_NO,
		               SNS_ID,
		               SNS_NAME,
		               SNS_TYPE,
		               FILE_PATH)
		VALUES (SEQ_MNO.CURRVAL, 
					        ?, 
					        ?, 
					        ?,
					        ?)
		SELECT * FROM DUAL
	</entry>
	
	
	<entry key="idCheck">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_ID = ?
	</entry>
	
	<entry key="loginMember">
		SELECT M.*, A.CHANGE_NAME, A.FILE_PATH
		FROM MEMBER M
		LEFT JOIN ATTACHMENT A ON (A.REF_UNO = M.USER_NO)
		WHERE USER_ID = ?
		  AND USER_PWD = ?
		  AND USER_LEVEL = ?
		  AND STATUS = 'Y'
	</entry>
	
	<entry key="snsLoginMember">
		SELECT M.*, A.CHANGE_NAME, A.FILE_PATH
		FROM MEMBER M
		LEFT JOIN ATTACHMENT A ON (A.REF_UNO = M.USER_NO)
		WHERE USER_ID = ?
		  AND USER_LEVEL = ?
		  AND STATUS = 'Y'
	</entry>
	
	<entry key="loginMemberInfo">
		SELECT *
		FROM MEMBER
		WHERE USER_NO =?
		  AND STATUS = 'Y'
	</entry>
</properties>