<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectClassList">
		SELECT 
			CM.REF_CNO, CLASS_GRADE, CLASS_CODE, CLASS_NAME,
			CLASS_TYPE_NAME, CHANGE_NAME, FILE_PATH, TEACHER_NAME,
			ATPT_OFCDC_SC_CODE, SD_SCHUL_CODE,
			(SELECT COUNT(*) FROM CLASS_MEMBER WHERE REF_CNO = CM.REF_CNO) AS USER_COUNT
		FROM CLASS_MEMBER CM
		LEFT JOIN CLASS C ON (CM.REF_CNO = C.CLASS_NO)
		LEFT JOIN ATTACHMENT A ON (A.REF_CNO = C.CLASS_NO)
		WHERE CM.REF_UNO = ?
		ORDER BY REF_CNO
	</entry>
	<entry key="insertClass">
		INSERT INTO CLASS
			VALUES (SEQ_CNO.NEXTVAL,?,?,?,?,?,?,?)
	</entry>
	<entry key="insertClassMember">
		INSERT INTO CLASS_MEMBER
			VALUES ((SELECT CLASS_NO FROM CLASS WHERE CLASS_CODE = ?),?,?)
	</entry>
	<entry key="insertClassAttachment">
		INSERT INTO ATTACHMENT
            (FILE_NO,REF_CNO,ORIGIN_NAME,CHANGE_NAME,FILE_PATH,FILE_LEVEL)
            VALUES (SEQ_ANO.NEXTVAL,(SELECT CLASS_NO FROM CLASS WHERE CLASS_CODE = ?), ?, ?, '/resources/image/classProfile/',1)
    </entry>
    <entry key="selectTableList">
    	SELECT CLASS_NO, TIME_TABLE_CONTENT
    	FROM CLASS_MEMBER CM
		LEFT JOIN CLASS C ON (CM.REF_CNO = C.CLASS_NO)
        LEFT JOIN TIME_TABLE T USING(REF_CNO)
	   	WHERE CM.REF_UNO = ?
	    ORDER BY REF_CNO
    </entry>
    <entry key="insertTable">
		INSERT INTO TIME_TABLE
            VALUES (SEQ_TNO.NEXTVAL,(SELECT CLASS_NO FROM CLASS WHERE CLASS_CODE = ?),?)
    </entry>
    <entry key="updateTable">
		UPDATE TIME_TABLE
		SET TIME_TABLE_CONTENT = ?
		WHERE REF_CNO = ?
	</entry>
	  <entry key="selectClass">
 	  SELECT 
         CLASS_NO, CLASS_NAME,CLASS_CODE, SUBSTR(CLASS_GRADE, 6) AS CLASS_GRADE, CLASS_TYPE_NAME, TEACHER_NAME, (SELECT COUNT(*) FROM CLASS_MEMBER WHERE REF_CNO = CM.REF_CNO) AS USER_COUNT,CHANGE_NAME, FILE_PATH
      FROM CLASS_MEMBER CM
      LEFT JOIN CLASS C ON(C.CLASS_NO = CM.REF_CNO)
    LEFT JOIN ATTACHMENT A ON (C.CLASS_NO = A.REF_CNO)
      WHERE C.CLASS_NO = ? AND CM.REF_UNO = ?
   </entry>

	<entry key="selectMyClass">
	
      
      SELECT 
			CM.REF_CNO, SUBSTR(CLASS_GRADE, 0,4) AS CLASS_DATE, SUBSTR(CLASS_GRADE, 6) AS CLASS_GRADE, CLASS_NAME,
			CLASS_TYPE_NAME, CHANGE_NAME, FILE_PATH, TEACHER_NAME,
			(SELECT COUNT(*) FROM CLASS_MEMBER WHERE REF_CNO = CM.REF_CNO) AS USER_COUNT
		FROM CLASS_MEMBER CM
		LEFT JOIN CLASS C ON (CM.REF_CNO = C.CLASS_NO)
		LEFT JOIN ATTACHMENT A ON (A.REF_CNO = C.CLASS_NO)
		WHERE CM.REF_UNO = ?
        ORDER BY CLASS_DATE DESC
        
	</entry>
	
	 <entry key="insertCalendar">
		INSERT INTO SCHEDULE
            VALUES (SEQ_SCNO.NEXTVAL, ?, (SELECT CLASS_NO FROM CLASS WHERE CLASS_CODE = ?))
    </entry>
    <entry key="selectCalendarList">
    	SELECT CLASS_NO, S_CONTENT
    	FROM CLASS_MEMBER CM
		LEFT JOIN CLASS C ON (CM.REF_CNO = C.CLASS_NO)
        LEFT JOIN SCHEDULE S USING(REF_CNO)
	   	WHERE CM.REF_UNO = ?
	    ORDER BY REF_CNO
    </entry>
    <entry key="updateCalendar">
		UPDATE SCHEDULE
		SET S_CONTENT = ?
		WHERE REF_CNO = ?
	</entry>
	<entry key="selectAttendTable">
		SELECT A_CONTENT
		FROM ATTEND_CHECK A
		LEFT JOIN CLASS C ON(C.CLASS_NO = A.REF_CNO)
		WHERE C.CLASS_NO = ? AND A_DATE = ?
	</entry>
	<entry key="insertAttendTable">
		INSERT INTO ATTEND_CHECK
            VALUES (?, ?, ?)
    </entry>
    <entry key="selectClassMemberName">
    	SELECT USER_NAME , REF_UNO
    	FROM MEMBER
    	JOIN CLASS_MEMBER ON (USER_NO = REF_UNO)
    	WHERE REF_CNO = ?
    		AND USER_LEVEL = 3
    	ORDER BY USER_NAME
    </entry>
    <entry key="updateAttendTable">
		UPDATE ATTEND_CHECK
		SET A_CONTENT = ?
		WHERE REF_CNO = ? AND A_DATE = ?
	</entry>
	
	<entry key="updateClass">		
		UPDATE CLASS C
		SET C.CLASS_GRADE = ?, 
			C.CLASS_NAME = ?
		WHERE C.CLASS_NO = ?
		AND C.TEACHER_NAME = 
            (SELECT USER_NAME
            FROM MEMBER
            WHERE USER_LEVEL = 1
            AND USER_NO = ?)
	</entry>
	
	<entry key="updateAttachment">
		UPDATE ATTACHMENT
		SET ORIGIN_NAME = ? ,
		    CHANGE_NAME = ?,
		    FILE_PATH = ?,
		    UPLOAD_DATE = SYSDATE
		WHERE FILE_NO = ? 
	</entry>
	
	<entry key="insertNewAttachment">
		INSERT INTO ATTACHMENT
            (FILE_NO,REF_CNO,ORIGIN_NAME,CHANGE_NAME,FILE_PATH,FILE_LEVEL)
            VALUES (SEQ_ANO.NEXTVAL, ?, ?, ?, '/resources/image/classProfile/',1)
	</entry>
	
	<entry key="selectAttachment">
		SELECT FILE_NO,
				ORIGIN_NAME,
				CHANGE_NAME,
				FILE_PATH,
				UPLOAD_DATE
		FROM ATTACHMENT
		WHERE REF_CNO = ?
	</entry>
	
	<entry key="selectClassListAll">
	      SELECT 
			CLASS_NO, CLASS_GRADE, CLASS_CODE, CLASS_NAME,
			CLASS_TYPE_NAME,TEACHER_NAME,
			ATPT_OFCDC_SC_CODE, SD_SCHUL_CODE
		FROM CLASS
	
	</entry>
	
	<entry key="updateClassCode">
	 UPDATE CLASS SET CLASS_CODE = ?
        WHERE CLASS_NO = ? 
        </entry>
</properties>